<div class="main-wrapper">
    <div class="main-header">
        <h2>Expenses</h2>
        <button class="mat-raised-button" (click)="openDialog()">Add Expenses<mat-icon
                svgIcon="add"></mat-icon></button>
    </div>

    <div class="filter-header main-header">
        <form class="filter-form" [formGroup]="expensesFilterForm">
            <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter name" />
            </mat-form-field>

            <!-- date field -->
            <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                <mat-label>Expense Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expense_date" placeholder="YYYY-MM-DD" />
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- payment field -->
            <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                <mat-label>Payment Method</mat-label>
                <mat-select formControlName="payment_method">
                    <mat-option *ngFor="let payment of paymentMethodOptions" [value]="payment">
                        {{ payment }}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <!-- status field -->
            <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let statusType of statusTypeOptions" [value]="statusType">
                        {{ statusType }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button class="mat-raised-button" type="button" (click)="resetFilters()">
            Reset
        </button>
    </div>
    <div class="main-body">
        <div style="overflow: auto;">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="sr_no">
                    <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="payment_method">
                    <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                    <td mat-cell *matCellDef="let element">{{element.payment_method}}</td>
                </ng-container>
                <ng-container matColumnDef="expense_date">
                    <th mat-header-cell *matHeaderCellDef>Expense Date</th>
                    <td mat-cell *matCellDef="let element">{{element.expense_date | date: 'dd-MMM-yy'}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element" [ngClass]="getStatusClass(element.status)">{{element.status}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="delete-button" (click)="deleteExpense(element.id)">
                            <mat-icon svgIcon="delete"></mat-icon> </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length"
                        style="text-align:center;padding: 1rem;font-size: 18px;">
                        No record found !
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="false"></mat-paginator>

    </div>
</div>