.login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 6px;
    }

    input {
      width: 100%;
      padding: 10px 5px;
      box-sizing: border-box;
      // border: 1px solid #000;
    }
  }

  .button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background: transparent;
      border: 1px solid #007bff;
      color: #007bff;
    }
  }
}
.password-input {
  position: relative;
  display: flex;
  align-items: center;
}
input {
  flex: 1;
  padding-right: 40px;
}
.eye-btn {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

mat-icon {
  font-size: 20px;
}
