.div-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .div-popup {
    background: #ecf0f1;
    padding: 24px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 300px;
  }
  .div-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 20px;
    color: #2c3e50;
  }
}
.dashboard-container {
  padding: 1rem;
  // margin: 0rem 3rem;
}
.stats-wrapper {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats-value {
    font-weight: 500;
  }
}

.stats-card {
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1.5px solid #d2e1ff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  width: 100%;
}
.stats-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 1rem;
  margin-bottom: 1.2rem;
}
.stats-txt {
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  @media (max-width: 600px) {
    font-size: 25px;
  }
}
.stats-logo i {
  color: #a998ff;
  font-size: 35px;
}
.amount-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.amount-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.value {
  color: #333;
}
