<div class="dashboard-container">
    <div class="stats-wrapper">
        <div class="stats-card" routerLink="/admin/expenses">
            <div class="stats-header">
                <a class="stats-txt">Expenses</a>
                <div class="stats-logo"><i class="fa-solid fa-circle-check"></i></div>
            </div>
            <div class="amount-summary">
                <div class="amount-item">
                    <span class="label">Total Expenses:</span>
                    <span class="value">{{ stats?.expensesStats?.totalExpenses }}</span>
                </div>
                <div class="amount-item">
                    <span class="label">Total Expenses Amount:</span>
                    <span class="value">{{ stats?.expensesStats?.totalExpensesAmount | currency:'INR'}}</span>
                </div>

            </div>
        </div>
        <div class="stats-card" routerLink="/admin/funds">
            <div class="stats-header">
                <a class="stats-txt">Recepit</a>
                <div class="stats-logo"><i class="fa-solid fa-indian-rupee-sign"></i></div>
            </div>
            <div class="amount-summary">
                <div class="amount-item">
                    <span class="label">Total Amount:</span>
                    <span class="value">{{ stats?.amountStats?.totalAmount | currency:'INR' }}</span>
                </div>
                <div class="amount-item">
                    <span class="label">Total Opening Cash:</span>
                    <span class="value">{{ stats?.amountStats?.openingCash | currency:'INR' }}</span>
                </div>
                <div class="amount-item">
                    <span class="label">Total Opening Bank:</span>
                    <span class="value">{{ stats?.amountStats?.openingBank| currency:'INR' }}</span>
                </div>
            </div>

        </div>
        <div class="stats-card" routerLink="/admin/allotments">
            <div class="stats-header">
                <a class="stats-txt">Alloted</a>
                <div class="stats-logo"><i class="fa-solid fa-indian-rupee-sign"></i></div>
            </div>
            <div class="amount-summary">
                <div class="amount-item">
                    <span class="label">Total Alloted Amount:</span>
                    <span class="value">{{ stats?.allotStats?.totalAllotAmount | currency:'INR' }}</span>
                </div>
                <div class="amount-item">
                    <span class="label">Total Amount Expenses:</span>
                    <span class="value">{{ stats?.allotStats?.totalExpenseAmount | currency:'INR' }}</span>
                </div>

            </div>

        </div>

    </div>
</div>