<div class="fund-wrapper">

    <div class="fund-body">
        <div class="fund-list">
            <h2 class="form-header">Add New Receipt</h2>
            <div style="display: flex; align-items: center;gap: 1rem;">
                <div>
                    <button class="add-master button" (click)="toggleMasterBulding()">
                        <mat-icon svgIcon="building"></mat-icon>
                    </button>
                </div>
                <div class="master-form" *ngIf="showMasterBulding">
                    <mat-form-field appearance="outline" style="margin-bottom: -1.25rem;">
                        <mat-label>Building</mat-label>
                        <mat-select [formControl]="buildingControl" (selectionChange)="toggleMasterBulding()">
                            <mat-option *ngFor="let flatType of flatTypeOptions" [value]="flatType">
                                {{ flatType }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <form class="fund-form" [formGroup]="fundForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Receipt No</label>
                    <input type="text" formControlName="receipt_no" placeholder="Enter receipt no" readonly />
                    <div *ngIf="fundForm.get('receipt_no')?.invalid && fundForm.get('receipt_no')?.touched"
                        class="error">
                        Please enter Receipt No.
                    </div>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="name" placeholder="Enter name" />
                    <div *ngIf="fundForm.get('name')?.invalid && fundForm.get('name')?.touched" class="error">
                        Please enter Name.
                    </div>
                </div>

                <div class="form-group">
                    <label>Building</label>
                    <input type="text" formControlName="building" placeholder="Enter building" readonly />
                    <div *ngIf="fundForm.get('building')?.invalid && fundForm.get('building')?.touched" class="error">
                        Please enter Building.
                    </div>
                </div>
                <!-- year -->
                <div class="form-group">
                    <label>Year</label>
                    <input type="text" formControlName="year" placeholder="Enter Year" readonly />
                    <div *ngIf="fundForm.get('year')?.invalid && fundForm.get('year')?.touched" class="error">
                        Please enter year.
                    </div>
                </div>
                <!-- date -->
                <div class="form-group ">
                    <label for="date">Date</label>
                    <input type="date" formControlName="date" placeholder="Select your date">
                </div>
                <!-- mode of payment -->
                <div class="form-group">
                    <label>Mode of Payment</label>
                    <div class="radio-group">
                        <label class="radio-label"><input type="radio" value="cash"
                                formControlName="mode_of_payment" />- Cash </label>
                        <label class="radio-label"><input type="radio" value="online"
                                formControlName="mode_of_payment" />- Online</label>
                        <label class="radio-label"><input type="radio" value="cheque"
                                formControlName="mode_of_payment" />- Cheque</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Marked As Pay</label>
                    <select formControlName="marked_as_pay_later" class="input-select">
                        <option value="paid">Paid</option>
                        <option value="pending">Pending</option>
                    </select>
                </div>
                <!-- amount -->
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" formControlName="amount" placeholder="Enter amount" />
                    <div *ngIf="fundForm.get('amount')?.invalid && fundForm.get('amount')?.touched" class="error">
                        Please enter Valid amount.
                    </div>
                </div>

                <button class="mat-raised-button" type="submit">
                    Add Fund
                </button>
            </form>
        </div>
        <div class="fund-table">
            <div class="fund-filter">
                <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="getFunds()">
                    <h3>Filter:</h3>
                    <div class="filter-group">
                        <input type="text" formControlName="receipt_no" placeholder="Receipt No" />
                    </div>

                    <div class="filter-group">
                        <input type="text" formControlName="name" placeholder="Name" />
                    </div>
                    <div class="filter-group">
                        <input type="text" formControlName="marked_as_pay_later" placeholder="marked as Pay Later" />
                    </div>

                    <!-- 
                    <div class="filter-group">
                        <input type="text" formControlName="mode_of_payment" placeholder="Mode of Payment" />
                    </div>

                    <div class="filter-group ">
                        <input type="date" formControlName="date" placeholder="Date">
                    </div> -->
                </form>
                <div class="filter-btn">
                    <button class="excel-btn" aria-label="menu icon" (click)="downloadExcel()">
                        <img src="../../../assets/image/excel.svg" alt="" style="width: 35px; height: 35px" />
                    </button>
                    <button class="mat-raised-button" type="button" (click)="resetFilters()">
                        Reset
                    </button>
                </div>
            </div>
            <!-- <div class="table-wrapper"> -->
            <div style="overflow:auto;">
                <table mat-table [dataSource]="fundDataSource">
                    <ng-container matColumnDef="sr_no">
                        <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="receipt_no">
                        <th mat-header-cell *matHeaderCellDef>Receipt No</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{
                            'text-color': element.marked_as_pay_later === 'pending' && (!element.receipt_no || element.receipt_no === '')
                          }">{{ element.marked_as_pay_later === 'pending' &&
                            (!element.receipt_no || element.receipt_no === '')
                            ? 'Pay Later': element.receipt_no }}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="building">
                        <th mat-header-cell *matHeaderCellDef>building</th>
                        <td mat-cell *matCellDef="let element">{{element.building}}</td>
                    </ng-container>
                    <ng-container matColumnDef="mode_of_payment">
                        <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                        <td mat-cell *matCellDef="let element">{{element.mode_of_payment ?? '---'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element">{{element.date| date:
                            'dd-MMM-yy'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="marked_as_pay_later">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'text-color': element.marked_as_pay_later === 'pending' }">
                            {{element.marked_as_pay_later}}</td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'text-color': element.marked_as_pay_later === 'pending' && (!element.amount || element.amount === '')}">
                            {{ element.marked_as_pay_later === 'pending' &&
                            (!element.amount || element.amount === '')
                            ? 'Pay Later':'₹'+ element.amount }}</td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <button class="delete-button" (click)="deleteFund(element.id)">
                                <mat-icon svgIcon="delete"></mat-icon> </button> -->
                            <button class="view-button" (click)="openDialog(element)">
                                <mat-icon svgIcon="view"></mat-icon> </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length"
                            style="text-align:center;padding: 1rem;font-size: 18px;">
                            No record found !
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="false"></mat-paginator>
            <!-- </div> -->
        </div>
    </div>
</div>