<div class="main-wrapper">
    <div class="allot-main-header">
        <form class="allot-form" [formGroup]="allotForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                    <mat-label>Member</mat-label>
                    <mat-select formControlName="userId">
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="no-bottom mat-form-field">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="amount" placeholder="Enter Amount" />
                </mat-form-field>
            </div>

            <button class="mat-raised-button" type="submit">
                Allot Amount
            </button>
        </form>
    </div>
    <div class="main-header " *ngIf="this.users">
        <h4>Total Expenses Amount of {{userName}} is {{userTotalAmount}}</h4>
    </div>
    <div class="main-header allot-wrapper">
        <h4>Select Membeer :</h4>
        <div *ngFor="let user of users">
            <button class="mat-raised-button user-btn" [ngClass]="{ 'active-btn': selectedUserId === user.id }"
                (click)="getUserData(user)">{{user.name}}</button>
        </div>
    </div>
    <div class="table">
        <div style="overflow:auto;">
            <table mat-table [dataSource]="userExpenseDataSource">
                <ng-container matColumnDef="sr_no">
                    <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>

                <ng-container matColumnDef="spent_on">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.spent_on| date:
                        'dd-MMM-yy'}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="delete-button" (click)="deleteFund(element.id)">
                                <mat-icon svgIcon="delete"></mat-icon> </button>
                        </td>
                    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length"
                        style="text-align:center;padding: 1rem;font-size: 18px;">
                        No record found !
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" [showFirstLastButtons]="false"></mat-paginator>

    </div>
</div>