.expenses-header {
  background: #e8f9ff;
  color: #a998ff;
  border: 1px solid #c4d9ff;
  border-radius: 5px;

  //   padding: 1rem;
  .expenses-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .form-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .form-group {
        position: relative;
      }
      label {
        display: block;
        color: #4f4f4f;
        font-size: 18px;
        margin-bottom: 2px;
      }
      & input {
        // height: 45px;
        padding: 10px;
        width: 100%;
        font-size: 15px;
        outline: none;
        background: none;
        border-radius: 3px;
        border: 1.5px solid #bfbfbf;
      }
      & input:focus {
        background: #ecfaff;
        border-color: #b3ceff;
      }
    }
  }
}
